/* color */

:root{
    --bg-color: #EEE9DA;
    --minus-text-color: #B2B2B2;
    --text-important-color: #2C3639;
    --btn-hover: #6D9886;
}


/* font */

:root{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.location-text, .description, .its{
    color: var(--minus-text-color);
}

.new-location, .description, .location-text, .its{
    font-size: 1.3rem;
}

.new-location{
    color: var(--text-important-color);
    font-weight: 500;
}

.temperature h1, .temperature h3{
    font-family: 'Noto Sans Lao', sans-serif;
    font-weight: 300;
    font-size: 6rem;
    color: var(--text-important-color);
}

.temperature h3{
    color: var(--minus-text-color);
    font-size: 1rem;
    font-weight: 500;
}

.info p{
    color: #878787;
    display: inline;
    font-size: 0.7rem;
}

.info h2{
    display: inline;
    font-size: 1.4rem;
    margin-right: 10px;
    color: var(--text-important-color);
}

.info .info-value{
    font-size: 1.3rem;
    font-family: 'Noto Sans Lao', sans-serif;
}

.cloudiness .info-value{
    margin-left: -6px;
}

.umidity .info-value{
    margin-left: 5px;
}

.info .info-value{
    color: var(--text-important-color);
}

.f:hover, .c:hover{
    color: var(--btn-hover);
    cursor: pointer;
}

.f-c-container h3{
    margin: 5px 0;
    color: var(--minus-text-color);
}

.position:hover{
    color: #6D9886;
    cursor: pointer;
}

/* Responsive Deisgn */

/* DESKTOP */

/* layout */
    @media (min-width: 768px) {

    body{
        margin: 0;    
        background-color: var(--bg-color);
    }

    .new-location, .description, .location-text, .its{
        display: inline;
    }

    .text-box{
        text-align: center;
    }

    .app-box{
        width: 100%;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }

    p.location-text{
        text-align: center;
    }

    .weather-card{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .icon-temp-container{
        display: flex;
        text-align: center;
        justify-content: start;
        width: 60%;
        padding: 0;
    }

    .temperature{
        position: absolute;
        text-align: center;
        left: 50%; top: 50%;
        transform: translate(-50%, -40%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .temperature h1{
        margin: auto;
    }

    .temperature h3{
        margin-top: auto;
        position: relative;
        bottom: 2rem;
    }

    .icon-temp-container h1{
        font-size: 7rem;
        display: inline;
        position: relative;
        margin: auto 0 0 0;
    }

    .icon-temp-container h3{
        margin: 0 0 auto 0;
    }

    .weather-icon{
        width: 25%; height: 25%;
        margin-top: auto;
        margin-left: 10%;
        margin-bottom: auto;
    }

    .info{
        text-align: start;
        display: flex;
        flex-direction: column;
        padding: 10% 0;
        justify-content:space-evenly;
        margin-left: auto;
        margin-right: 15%;
    }

    .f-c-container{
        width: 100px;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        margin: auto;
        margin-top: 30px;
    }

    .f.active{
        color: var(--text-important-color);
    }

    .c.active{
        color: var(--text-important-color);
    }

    .position{
        text-align: center;
        font-size: 1rem;
    }

    .search-btn{
        margin: auto;
        width: 1rem; height: 1rem;
        border-radius: 100%;
    }

    .insert-loc{
        text-align: center;
    }

    .insert-loc h3{
        display: inline;
        font-size: 1rem;
    }

    .insert-loc input, .insert-loc input:focus{
        border: 0;
        border-bottom: 2px solid #ccc;
        outline: 0;
    }

    .insert-loc input{
        width: 10%;
        background-color: transparent;
        color: var(--text-important-color);
    }


    .input-underline{
        position: relative;
        bottom: 2px;
        padding: 0 4px;
        width: 10%;
        height: 2px;
        background-color: var(--text-important-color); 
        margin: auto;
        transform: scaleX(0);
    }

    .input-underline-action{
        animation: 0.4s normal forwards underlineAnimate;
    }

    @keyframes underlineAnimate {
        from{

        }
        to{
            transform: scaleX(1);
        }
    }

}    



/* Responsive Deisgn */

    /* MOBILE */

@media (max-width: 600px) {
    
    body{
        text-align: center;
        margin: 0;    
        background-color: var(--bg-color);
    }

    .icon-temp-container{
        display: flex;
        flex-direction: column; 
    }

    .weather-card{
        position: absolute;
        left: 50%; top: 35%;
        transform: translate(-50%, 50%);
    }

    .temperature{
        position: absolute;
        
    }

}




